.contenedor {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 800px;
  height: 500px;
  background-color: black;
  transition: 0.25s;
  margin-top: 100px;
}

.contenedor .box {
  position: relative;
  background: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position: center;
  background-size: cover;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor:hover .box {
  filter: grayscale(1);
}
.contenedor .box:hover {
  filter: grayscale(0);
}

.contenedor:has(.one:hover) {
  grid-template-columns: 2.2fr 0.7fr 0.7fr;
}
.contenedor:has(.two:hover) {
  grid-template-columns: 0.7fr 2.2fr 0.7fr;
}
.contenedor:has(.three:hover) {
  grid-template-columns: 0.7fr 0.7fr 2.2fr;
}

.contenedor .box:nth-child(even) {
  transform: translateY(30px);
}
.contenedor .box:nth-child(odd) {
  transform: translateY(-30px);
}
.contenedor .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    #000,
    transparent,
    transparent,
    transparent,
    #000
  );
}

.contenedor .box::after {
  content: attr(dataText);
  position: absolute;
  bottom: -100px;
  background: #fff;
  color: #222;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 10px;
  white-space: nowrap;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  opacity: 0;
  transition-delay: 0s;
  -webkit-box-reflect: below 2px linear-gradient(transparent, #000300);
}

.contenedor .box:hover::after {
  opacity: 1;
  bottom: -60px;
  transition-delay: 0.25s;
}

.option-button {
  @apply bg-white text-black border border-gray-300 rounded px-4 py-2 font-bold m-2 cursor-pointer;
}

.option-button.selected {
  @apply bg-blue-500 text-white; /* Cambia el fondo a azul cuando está seleccionado */
}
